// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sink_button {
   width: 500px;
   background-color: #ea553a;
   border-radius: 5px;
   box-shadow: 0 3px 0 rgba(0,0,0,1);
   color: #ffffff;
   display: block;
   font-size: 14px;
   text-align: center;
   text-decoration: none;
   margin: 10px auto;
   padding: 10px 0;
}

a.sink_button:active{
  text-decoration: none;
  box-shadow: none;
  transform: translate3d(0, 3px, 0);
}