// Place all the styles related to the public/requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-noborder {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.submit {
  display:inline;
  float: right;
}

.requests {
	background-color: #DDDDDD;
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
}