<div class="text-center">
	<p id="notice"><%= notice %></p>
	<% if group_signed_in? %>
	<div>
	  <h1><%= link_to "模擬店出店登録を始める", new_public_request_path,class: "sink_button" %></h1>
	</div>
	<% else %>
	<div>
	  <h1><%= link_to "模擬店出店登録を始める", new_group_registration_path,class: "sink_button" %></h1>
	</div>
	<% end %>
	<br>
	<% if not group_signed_in? %>
	  <div><p>既に登録済みの方</p></div>
	  <div><%= link_to "こちら", new_group_session_path %>からログインしてください</div>
	<% end %>
</div>